$test: black;
    
//html base colors
$page-background-color: rgb(0, 0, 0);
$main-text-color: rgb(178, 176, 176);
$heading-text-color: rgb(248, 0, 207);

//markdown base colors
$codebox-background-color: rgb(105, 0, 46);
$hr-line-color: rgb(163, 37, 79);

$border-color: #000000;
$highlight-code: #000000;
$highlight: rgb(0, 0, 0);

//transitions
$main-transition: all ease-in-out 0.3s;

//scroll
$scroll: rgb(250, 157, 242);
$scroll-background: rgb(82, 0, 0);

//links
$link-color: rgb(97, 42, 42);

//sizes
$small: 4px;
$medium: 8px;
$large: 16px;
$Xlarge: 24px;
$Xxlarge: 32px;
$heading-padding: 10px;