html {
    padding: 0;
    margin: 0;

    color: var(--main-text-color);
    background-color: var(--page-background-color);

    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    transition: var(--main-transition);
}

body {
    padding: 0;
    margin: 0;
}

button, textarea, input {
    color: var(--main-text-color);
    background-color: var(--codebox-background-color);

    border: 3px solid var(--border-color);

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6{
    padding: var(--heading-padding);
    color: var(--heading-text-color);
}

p {
    color: var(--main-text-color);
}

#center {
    text-align: center;
}

//scroll
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background: var(--scroll);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-background);
}

//link
:link{
    color: var(--link-color);
}
a:hover{
    color: var(--link-color);
    --underline-width: 100%;
}
a {
    background: linear-gradient(currentColor 0 0) bottom center/ var(--underline-width, 90%) 0.1em no-repeat;
    color: var(--link-color);
    text-decoration: none;
    transition: background-size 0.5s;
}
::selection {
    background: var(--highlight);
}

//define heading sizes
h1 {
    font-size: var(--Xxlarge);
    margin-top: 0;
}
h2 {
    font-size: var(--Xlarge);
}
h3 {
    font-size: var(--large);
}
h4 {
    font-size: var(--medium);
}
h5 {
    font-size: var(--small);
}
h6 {
    font-size: var(--Xsmall);
}