strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ul, ol {
    margin: 1em 0;
    padding-left: 2em;
    text-align: left;
}

li {
    margin-bottom: 0.5em;
}

blockquote {
    border-left: 4px solid var(--border-color);
    padding: 0.5em 1em;
    color: var(--highlight-code);
    background-color: var(--codebox-background-color);
    margin: 1em 0;
}

code, .astro-code {
    font-family: 'Courier New', monospace;
    background-color: var(--codebox-background-color) !important;
    padding: 2px;
    border-radius: var(--border-radius);
}

pre {
    background-color: var(--codebox-background-color);
    padding: 1em;
    border-radius: 4px;
    overflow: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}

th, td {
    border: 1px solid var(--border-color);
    padding: 0.5em 1em;
    text-align: left;
}

th {
    background-color: var(--codebox-background-color);
}

hr {
    border: 0;
    border-top: 1px solid var(--main-text-color);
    width: 90%;
    margin: 1vh auto 1vh auto;
}

del {
    text-decoration: line-through;
}

ins {
    text-decoration: underline;
}

mark {
    background-color: var(--highlight);
    color: var(--highlight-code);
}